{% extends 'base.html' %}

{% block page_title %}
    Cadastrar livro
{% endblock page_title %}   

{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: #333;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }

    a.cancel, a.back {
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: #6c757d;
        padding: 10px 30px;
        border-radius: 4px;
        font-size: 16px;
        margin-left: 10px;
        transition: background-color 0.3s;
    }

    a.cancel:hover, a.back:hover {
        background-color: #5a6268;
    }
</style>


{% if book.pk %}
<h1>Atualizar livro</h1>
{% else %}
<h1>Cadastrar livro</h1>
{% endif %}
    

<form method="POST">
    {% csrf_token %}
    
    {{ form.as_p }}

    
    {% if book.pk %}
    <input type="submit" value="Salvar">
    {% else %}
        <input type="submit" value="Cadastrar">
    {% endif %}
    <a href="{% url 'get_books' %}" class="back">Voltar</a>
</form>
{% endblock content %}
